# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build outputs
dist/
.out/
.next/
.cache/

# Tailwind JIT cache
*.tailwind.css
*.tailwind.config.js.timestamp-*

# Env files
.env
.env.* 
!.env.example

# Logs
logs
*.log
*.log.*

# Editor configs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo
