
/* 🌿 Sarv UI v0.2.6
 * Built with care by MJ
 */
@theme{
    --radius-checkbox:var(--theme-radius-checkbox);
    --radius-button:var(--theme-radius-button);
    --radius-card:var(--theme-radius-card);
}